<!-- Picture Overview -->
    <div id="sidebarLeft" class="col-sm-3 ">
        <div id="sidebarLeftHeader">Click on an image to paint on it!</div>
        <div id="sidebarLeftImages">
        {% for image in images %}
             <div class="imageSmallContainer">
                <img data-imageid="{{image.f}}" class="imageSmall" src="{{url_for('static', filename='img/small/' +image.file)}}" />
            </div>
        {% endfor %}
        </div>
    </div>

    <!-- Picture Content -->
    <div id="imageContainer" class="col-sm-9 col-xs-12">
        <!-- Picture -->
        <!-- Paint Canvas -->

        <img id="imageBackground" class="imageRegular" data-imageid="{{images[0].f}}" src="{{url_for('static', filename='img/regular/' +images[0].file)}}">

        <div id="imagePaint" class="imageRegular"></div>
    </div>

    <!-- Toolbar and Save -->
<!--     <div class="toolbar">
        <a id="saveimage" href="#">save</a>
    </div> -->

<!-- {% include "partials/street.html" %} -->