html {
  height: 100%;
}
body {
  /* Margin bottom by footer height */
}

.mainContainer {
  overflow: hidden;
  margin: 20px;
}

#contentMain {
  height: 550px;
}

#sidebarLeft {
  text-align: center;
  padding: 0;
  margin: 0;
  height: inherit;
  border: 1px solid #eee;

}
#sidebarLeftHeader {
  min-height: 50px;
  padding-top: 20px;
}

#sidebarLeftImages {
  height: 450px;
  overflow-y: auto;
  text-align: center;
}

#sidebarLeftFooter {
  padding-top: 20px;
  height: 50px;
}

#imageContainer {
  height: inherit;
  padding: 0 50px 0 80px;
}

.imageSmallContainer {
  position: relative;
  width: 200px;
  height: 150px;
}

.imageSmallContainer {
  position: relative;
  width: 200px;
  height: 141px;
}

.imageSmall {
  position: absolute;
  width: inherit;
  height: inherit;
}

.imageRegular {
  position: absolute;
  width: 700px;
  height: 495px;
}

.saveBar {
  position: absolute;
  bottom: 0;
  left: 50px;
}

/* Override Colorpicker Position */
.wColorPicker {
    left: 37px !important;
    top: -152px !important;  
}



