{% extends "main.html" %}
{% block body %}
    {% if drawings|length %}
        <!-- Picture Content -->
        <div id="imageContainer">
            <!-- Picture -->
            <img id="imageTarget" class="imageRegular" data-imageid="{{drawings[0].image}}" src="{{url_for('static', filename='img/regular/' + drawings[0].imagefile)}}">
            <img id="drawingTarget" class="imageRegular" data-drawingid="{{drawings[0].id}}" src="{{url_for('static', filename='drawings/' +drawings[0].file)}}">
        </div>

        <!-- Picture Overview -->
        <div id="sidebar" class="border" >
            <div id="sidebarHeader" class="border">Klicke auf ein Bild um es groß zu machen.</div>
            <form action="{{ url_for('save_moderation') }}" method=post>
                <div id="sidebarImages">
                
                {% for drawing in drawings %}
                    <div class="imageSmallContainerOuter {{'%s' % 'approved' if drawing.is_approved  else 'notApproved'}}" data-initialstate="{{'%s' % 'approved' if drawing.is_approved  else 'notApproved'}}">
                         <div class="imageSmallContainer view" data-imageid="{{drawing.image}}" data-drawingid="{{drawing.id}}">
                            <img  class="imageSmall" src="{{url_for('static', filename='img/small/' + drawing.imagefile)}}" />
                            <img  class="imageSmall" src="{{url_for('static', filename='drawings/' + drawing.file)}}" />
                        </div>
                        <p class="imageDate">{{drawing.ts_created}}</p>
                        <p class="creatorMail">{{drawing.creator_mail}}</p>
                        <input type=checkbox  name=do_approve value="{{drawing.id}}" {{'%s' % 'checked' if drawing.is_approved }} />
                    </div>
                {% endfor %}

                </div>
                <div id="sidebarFooter">
                    <input id="adminSaveBtn" class="btn" type=submit value="Speichere Auswahl">
                </div>
            </form>
        </div>
    {% else %}
        <div class="textContainer">
            <div class="textRotate">
                <p>Momentan hat noch niemand etwas gezeichnet. Das heißt, mehr WERBUNG machen!! :)</p>
            </div>
        </div>
    {% endif %}        


{% endblock %}

