{% extends "main.html" %}
{% block body %}

    <!-- Picture Content -->
    <div id="imageContainer" >
        
        <!-- Picture -->
        <img id="imageTarget" class="imageRegular" data-imageid="{{images[0].id}}" src="{{url_for('static', filename='img/regular/' + images[0].file)}}">

        <!-- Paint Canvas -->
        <div id="imagePaint" class="imageRegular"></div>
        <script type="text/javascript">
          /*
           * Initialize wPaint
           */
            $('#imagePaint').wPaint({  
                path:            '/wPaint/',
                menuHandle:      false,               // setting to false will means menus cannot be dragged around
                menuOrientation: 'vertical',       // menu alignment (horizontal,vertical)
                menuOffsetLeft:  -50,                  // left offset of primary menu
                menuOffsetTop:   0,
            });

            $('.wPaint-menu-icon-name-save, .wPaint-menu-icon-name-loadBg').css('display', 'none');
        </script>

        <div class="imageContainerFooter">
            <a id="drawingDialogBtn" class="btn" href="#">Zeichnung speichern</a>
        </div>
    </div>

    <!-- Picture Overview -->

    <div id="sidebar" class="border">
        <div id="sidebarHeader">Klicke auf ein Bild um darauf zu malen...</div>
        <div id="sidebarImages">
        {% for image in images %}
        <div class="imageSmallContainerOuter">
            <div class="imageSmallContainer draw" data-imageid="{{image.id}}">
                <img class="imageSmall" src="{{url_for('static', filename='img/small/' + image.file)}}" />
            </div>
        </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}


