{% extends "main.html" %}
{% block body %}
    {% if drawings|length %}
        <!-- Picture Content -->
        <div id="imageContainer">
            <img id="imageTarget" class="imageRegular" data-imageid="{{drawings[0].image}}" src="{{url_for('static', filename='img/regular/' + drawings[0].imagefile)}}">
            <img id="drawingTarget" class="imageRegular" data-drawingid="{{drawings[0].id}}" src="{{url_for('static', filename='drawings/' +drawings[0].file)}}"> 
        </div>

        <!-- Picture Overview -->
        <div id="sidebar" class="border">
            <div id="sidebarHeader" class="border">Klicke auf ein Bild um es groß zu machen. </div>
            <div id="sidebarImages">
            
                {% for drawing in drawings %}
                <div class="imageSmallContainerOuter">
                     <div class="imageSmallContainer view" data-imageid="{{drawing.image}}" data-drawingid="{{drawing.id}}">
                        <img  class="imageSmall" src="{{url_for('static', filename='img/small/' + drawing.imagefile)}}" />
                        <img  class="imageSmall" src="{{url_for('static', filename='drawings/' + drawing.file)}}" />
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="textContainer">
            <div class="textRotate">
                <p>Die Galerie ist momentan noch leer. Das kannst du ändern, indem du selber etwas 
                <a href="{{ url_for('draw') }}">zeichnest.</a>
                </p>
            </div>
        </div>
    {% endif %}

{% endblock %}


