
{% extends "main.html" %}
{% block body %}


    <!-- Picture Content -->
    <div id="imageContainer" class="col-sm-9 col-xs-12">
        
        <!-- Picture -->
        {% if drawings|length %}
         <img id="imageTarget" class="imageRegular" data-imageid="{{drawings[0].image}}" src="{{url_for('static', filename='img/regular/' + drawings[0].imagefile)}}">
            <img id="drawingTarget" class="imageRegular" data-drawingid="{{drawings[0].id}}" src="{{url_for('static', filename='drawings/' +drawings[0].file)}}">
        {% else %}
            <div>No drawings so far!</div>
        {% endif %}
    </div>

    <!-- Picture Overview -->

    <div id="sidebarLeft" class="col-sm-3 ">
        {% if drawings|length %}
            <div id="sidebarLeftHeader">Click on an painting to paint on it!</div>
        {% endif %}
        <div id="sidebarLeftImages">
        {% for drawing in drawings %}
             <div class="imageSmallContainer view" data-imageid="{{drawing.image}}" data-drawingid="{{drawing.id}}">
                <img  class="imageSmall" src="{{url_for('static', filename='img/small/' + drawing.imagefile)}}" />
                <img  class="imageSmall" src="{{url_for('static', filename='drawings/' + drawing.file)}}" />
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}


