
{% extends "main.html" %}
{% block body %}
<div class="textContainer">
	<h1>Mach die Strasse bunt </h1>
	<h2>Ein Zeichenprojekt für Klein und Groß</h2>
	<p>Das Projekt „Mach die Strasse bunt“ hat zum Ziel die Aufmerksamkeit auf die Problematik der Leerstände in der Neulerchenfelderstraße Wien 16. zu richten.</p>	
	
	<p>Der Strassenabschnitt ab der Kirchstetterngasse steht im starken Kontrast zum Brunnenviertel, das nur wenige Gehminuten entfernt liegt. 
	Durch die Leerstände entsteht ein Gefühl der Verlassenheit und Nachlässigkeit. Es scheint als ob dieses Stück Straße aufgegeben wurde. 
	Also mach die Strasse bunt und lass deiner Phantasie freien Lauf. Belebe die verlassenen Fassaden und Träume von Geschäften und Einrichtungen, von Kunst und lebendiger Architektur. Vielleicht findest du in deinem Viertel auch Postkarten, die du bemalen und verschicken kannst, oder unser Zeichenbuch das in der Umgebung aufliegt. Stelle deine Ideen ins Netz und teile sie mit den Menschen die in deiner Stadt leben.</p>

	<p>Dieses Projekt von Aurélie Mazars und Jürgen Böheimer wurde an der Universität für angewandte Kunst Wien entwickelt und von der GB 16/7/8 und dem Bezirk Wien Ottakring gefördert.</p>
	<img id="logos" src="img/logozeile_bunt.png">
</div>

{% endblock %}
