<!doctype html>

<html>
<head lang="de">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Neulerchenfelderstrasse</title>
  <!-- Jquery -->

  <script type="text/javascript" src="js/jquery-1.11.1.min.js" ></script>
<!-- 
  <script type="text/javascript" src="js/bootstrap.min.js" ></script>
  <link rel=stylesheet type=text/css href="css/bootstrap.min.css">
 -->
  <!-- jQuery UI -->
  <script type="text/javascript" src="wPaint/lib/jquery.ui.core.1.10.3.min.js"></script>
  <script type="text/javascript" src="wPaint/lib/jquery.ui.widget.1.10.3.min.js"></script>
  <script type="text/javascript" src="wPaint/lib/jquery.ui.mouse.1.10.3.min.js"></script>
  <script type="text/javascript" src="wPaint/lib/jquery.ui.draggable.1.10.3.min.js"></script>
  
  <!-- wColorPicker -->
  <link rel="Stylesheet" type="text/css" href="wPaint/lib/wColorPicker.min.css" />
  <script type="text/javascript" src="wPaint/lib/wColorPicker.min.js"></script>

  <!-- wPaint -->
  <link rel="Stylesheet" type="text/css" href="wpaint/wPaint.min.css" />
  <script type="text/javascript" src="wPaint/wPaint.min.js"></script>
  <script type="text/javascript" src="wpaint/plugins/main/wPaint.menu.main.min.js"></script>
  <script type="text/javascript" src="wpaint/plugins/text/wPaint.menu.text.min.js"></script>
  <script type="text/javascript" src="wpaint/plugins/shapes/wPaint.menu.main.shapes.min.js"></script>
  <script type="text/javascript" src="wpaint/plugins/file/wPaint.menu.main.file.min.js"></script>

  <!-- Custom -->
  <script type="text/javascript" src="js/main.js" ></script>
  <link rel=stylesheet type=text/css href="css/main.css">
  <link rel=stylesheet type=text/css href="css/dialog.css">



</head>
<body>
  <div class="container">

    <div id="navbar" class="border">
        <ul class="nav">
          <li><a id="btnDraw" {% if request.path == '/draw' %}class="active"{% endif %} href="{{ url_for('draw') }}">Zeichnen</a></li>
          <li><a id="btnGallery" {% if request.path == '/gallery' %}class="active"{% endif %} href="{{ url_for('gallery') }}">Galerie</a></li>
          <li><a id="btnInfo" {% if request.path == '/info' %}class="active"{% endif %}href="{{ url_for('info') }}">Infos</a></li>
          <!-- only show if logged in -->
          {% if current_user.is_authenticated() %}
          <li><a id="btnAdmin" {% if request.path == '/admin' %}class="active"{% endif %} href="{{ url_for('admin') }}">Admin</a></li>
          <li ><a class="nrm" href="{{ url_for('logout') }}">{{current_user.name}} abmelden</a></li>
          {% else %}
          <li ><a id="btnLogin"  {% if request.path == '/login' %}class="active"{% endif %} href="{{ url_for('login') }}"></a></li>
          {% endif %}
        </ul>
    </div>

  <noscript>
    <style type="text/css">
      .content {display: none;}
      .noScriptContent {display: block;}
    </style>
  </noscript>

  <div class="noScriptContent">
        <div class="textContainer">
            <p>Diese Seite benötigt JavaScript. Bitte aktiviere es in deinen Browser Einstellungen. </p>
        </div>
  </div>

  <div class="content">
      {% block body %}{% endblock %}
  </div>
  <div id="footer" class="border">
    <span>
        copyright <a href="#" class="nrm" id="mailLink">Lukas P</a>
    </span>
  </div>
</div>
<div id="dialog-overlay"></div>
<div id="dialog-box">
    <div id="dialog-content"></div>
    <a href="#" class="close nrm">schließen</a>
</div>

</body>
</html>

